.page-header-container {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}

.title-container {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subtitle-container {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page-header-element {
    color: white;
}

#page-title {
    text-align: start;
}

#page-subtitle {
    text-align: end;
}

.axisLabel {
    font-family:  "Times New Roman";
    font-size: 20px;
}

.tooltip {
    fill: white;
    filter: drop-shadow(2px 1px 5px #bbbbbb);
}

.tooltipText {
    font-weight: bold;
    text-anchor: middle;
}

.tooltipSubtext {
    text-anchor: middle;
}